data/01_raw/*
data/02_intermediate/*
data/03_primary/*
data/04_feature/*
data/05_model_input/*
data/06_models/*
!data/06_models/pipeline/metriclearning/packaged_pipeline.zip
data/07_model_output/*
data/08_reporting/*
!.gitkeep
src/*.egg-info/
__pycache__

vendors/

sam_b*
yolov8n.pt
yolov8s.pt
yolov8m.pt
yolov8l.pt
yolov8x.pt
yolov8n-seg.pt
yolov8s-seg.pt
yolov8m-seg.pt
yolov8l-seg.pt
yolov8x-seg.pt
yolov8n-pose.pt

notebooks/bearidentification/metric_learning/02 model.png
notebooks/bearidentification/metric_learning/MNIST/
notebooks/bearidentification/metric_learning/example_logs/
notebooks/bearidentification/metric_learning/example_saved_models/
notebooks/bearidentification/metric_learning/example_tensorboard/
notebooks/bearidentification/metric_learning/FashionMNIST/
notebooks/bearidentification/metric_learning/cifar-10*
notebooks/bearidentification/datasplit/example_logs/
notebooks/bearidentification/datasplit/example_tensorboard/
notebooks/bearidentification/datasplit/runs/
src/groundingdino
